<!DOCTYPE html>
<html lang="en">

<head>
	{% include 'head.html' %}

</head>
<style>
	.custom-table th,
	.custom-table td {
		text-align: center;
		/* Căn giữa nội dung */
		vertical-align: middle;
		/* Giữ nội dung căn giữa theo chiều dọc */
	}

	.custom-table th {
		font-weight: bold;
	}

	.text-success {
		color: #28a745;
		/* Màu xanh */
	}

	.text-danger {
		color: #dc3545;
		/* Màu đỏ */
	}

	.failed {
    background-color: #f8e8d7;
    color: #721c24; 
	font-weight: 300;
}

</style>

<body>

	<div class="main-wrapper">

		{% include 'header.html' %}

		{% include 'sidebar.html' %}

		<div class="page-wrapper">
			<div class="content container-fluid">
				<div class="page-name 	mb-4">
					<h4 class="m-0"><img src="static/assets/img/avt.jpg" class="mr-1" alt="profile" /> Welcome Admin
					</h4>
					<label>{{ current_datetime }}</label>
				</div>
				<div class="row mb-4">
					<div class="col-xl-6 col-sm-12 col-12">
						<div class="breadcrumb-path ">
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="{{ url_for('index')}}"><img
											src="static/assets/img/dash.png" class="mr-3" alt="breadcrumb" />Home</a>

								</li>
								<li class="breadcrumb-item active">Dashboard</li>
							</ul>
							<h3>Admin Dashboard</h3>
						</div>
					</div>
					<div class="col-xl-6 col-sm-12 col-12">
						<div class="row">
							<div class="col-xl-6 col-sm-6 col-12">
								<a class="btn-dash" href="#"> Admin Dashboard</a>
							</div>
							<div class="col-xl-6 col-sm-6 col-12">
								<a class="btn-emp" href="#"> Student Dashboard</a>
							</div>



						</div>
					</div>
				</div>
				<div class="row mb-4">
					<div class="col-xl-3 col-sm-6 col-12">
						<div class="card board1 fill1 ">
							<div class="card-body">
								<div class="card_widget_header">
									<label>Tổng số sinh viên</label>
									<h4>{{ total_students }}</h4>
								</div>
								<div class="card_widget_img">
									<img src="static/assets/img/dash1.png" alt="card-img" />
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-sm-6 col-12">
						<div class="card board1 fill2 ">
							<div class="card-body">
								<div class="card_widget_header">
									<label>Tổng SV bị bệnh</label>
									<h4>{{ total_heathless_students }}</h4>
								</div>
								<div class="card_widget_img">
									<img src="static/assets/img/dash2.png" alt="card-img" />
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-sm-6 col-12">
						<div class="card board1 fill3 ">
							<div class="card-body">
								<div class="card_widget_header">
									<label>Tổng SV học lại</label>
									<h4>{{ total_failed_students }}</h4>
								</div>
								<div class="card_widget_img">
									<img src="static/assets/img/dash3.png" alt="card-img" />
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-sm-6 col-12">
						<div class="card board1 fill4 ">
							<div class="card-body">
								<div class="card_widget_header">
									<label>Số SV làm thêm</label>
									<h4>{{ partTime_students }}</h4>
								</div>
								<div class="card_widget_img">
									<img src="static/assets/img/dash4.png" alt="card-img" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="row">
					<div class="col-xl-6 d-flex mobile-h">
						<div class="card flex-fill">
							<div class="card-header">
								<div class="d-flex justify-content-between align-items-center">
									<h5 class="card-title">Tổng số sinh viên</h5>
								</div>
							</div>
							<div class="card-body">
								<div id="invoice_chart"></div>
								<div class="text-center text-muted">
									<div class="row">
										<div class="col-4">
											<div class="mt-4">
												<p class="mb-2 text-truncate"><i
														class="fas fa-circle text-primary mr-1"></i> Business</p>
											</div>
										</div>
										<div class="col-6">
											<div class="mt-4">
												<p class="mb-2 text-truncate"><i
														class="fas fa-circle text-success mr-1"></i> Khả năng qua môn</p>
											</div>
										</div>
										<div class="col-6">
											<div class="mt-4">
												<p class="mb-2 text-truncate"><i
														class="fas fa-circle text-danger mr-1"></i> Khả năng rớt môn</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-6 d-flex">
						<div class="card flex-fill">
							<div class="card-header">
								<div class="d-flex justify-content-between align-items-center">
									<h5 class="card-title">Total Salary By Unit</h5>
								</div>
							</div>
							<div class="card-body">
								<div id="sales_chart"></div>
							</div>
						</div>
					</div>
				</div> -->


				<div class="col-xl-12 col-sm-12 col-12 mb-4" style="margin-top: 100px;">
					<div class="head-link-set">
						<ul>
							<li><a class="active" href="#">All</a></li>
							<li><a href="#">Teams</a></li>
							<li><a href="#">Offices</a></li>
						</ul>

						<a class="btn-add" data-bs-toggle="modal" data-bs-target="#addStudentForm">Add Person</a>
					</div>
				</div>

				<div class="row">
					<div class="container mt-3">
						{% with messages = get_flashed_messages(with_categories=True) %}
						{% if messages %}
						{% for category, message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
							{{ message }}
							<!-- Thay đổi nút đóng bằng Font Awesome -->
							<button type="button" class="close" data-bs-dismiss="alert" aria-label="Đóng">
								<i class="fa fa-times"></i> <!-- Font Awesome biểu tượng đóng -->
							</button>
						</div>
						{% endfor %}
						{% endif %}
						{% endwith %}
					</div>


				</div>
				<div class="col-xl-12 col-sm-12 col-12 mb-4">
					<div class="card">
						<div class="table-heading">
							<h2>Danh Sách Sinh Viên</h2>
						</div>
						<div class="table-responsive">
							<table class="table  custom-table no-footer">
								<thead>
									<tr>
										<th>ID</th>
										<th>Tuổi</th>
										<th>Giới tính</th>
										<th>Tình hình kinh tế</th>
										<th>GPA</th>
										<th>Số tín chỉ</th>
										<th>Vắng Không Phép</th>
										<th>Làm Thêm</th>
										<th>Tình Hình Sức Khỏe</th>
										<th>Kết Quả</th>
										<th>Tùy Chọn</th>

									</tr>
								</thead>
								<tbody>
									{% for student in students %}
									<tr {% if student['result'] == 'Rớt môn' %} class="failed" {% endif %}>
										<td>{{ student['student_id'] }}</td>
										<td>{{ student['age'] }}</td>
										<td>{{ student['gender'] }}</td>
										<td>{{ student['economic_status'] }}</td>
										<td><label class="action_label">{{ student['gpa'] }}</label></td>
										<td>{{ student['credits_completed'] }}</td>
										<td><label class="action_label">{{ student['days_absent'] }}</label></td>
										<td>{{ student['part_time_job'] }}</td>
										<td>{{ student['health_status'] }}</td>
										<td> <label class="action_label2"> {{student['result']}}</label>
											</span>
										</td>
										<td>
											<!-- Edit button -->
											<button class="btn btn-warning" data-bs-toggle="modal"
												data-bs-target="#editStudentModal{{ student['student_id'] }}"><i
													class="fa-solid fa-pen-to-square"></i></button>

											<!-- Delete button -->
											<form action="{{ url_for('delete_student', id=student['student_id']) }}"
												method="POST" style="display:inline;">
												<button class="btn btn-danger" type="submit"
													onclick="return confirm('Are you sure you want to delete this student?');"><i
														class="fa-solid fa-trash"></i></button>
											</form>
										</td>
									</tr>
									<!-- Edit Modal -->
									<div class="customize_popup">
										<div class="modal fade" id="editStudentModal{{ student['student_id'] }}" tabindex="-1"
											aria-labelledby="editStudentModalLabel{{ student['student_id'] }}"
											aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title"
															id="editStudentModalLabel{{ student['student_id'] }}">Chỉnh
															sửa thông tin sinh viên</h5>
														<button type="button" class="btn" data-bs-dismiss="modal"
															aria-label="Đóng">
															<i class="fa-solid fa-xmark fa-2xl"
																style="color: #d70f19;"></i>
														</button>
													</div>
													<div class="modal-body">
														<form
															action="{{ url_for('edit_student', id=student['student_id']) }}"
															method="POST">
															<!-- Tuổi -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label for="age" class="form-label">Tuổi</label>
																		<input type="number" class="form-control"
																			name="age" id="age"
																			value="{{ student['age'] }}" required>
																	</div>
																</div>
																<div class="col-md-6">
																	<div class="form-group">
																		<label for="age" class="form-label">Số Ngày
																			Vắng</label>
																		<input type="number" class="form-control"
																			name="days_absent" id="days_absent"
																			value="{{ student['days_absent'] }}"
																			required>
																	</div>
																</div>

															</div>
															<!-- Giới tính -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label for="gender" class="form-label">Giới
																			tính</label>
																		<select class="form-control" name="gender"
																			id="gender" required>
																			<option value="" {% if not student['gender']
																				%}selected{% endif %}>Chọn giới tính
																			</option>
																			<option value="Nam" {% if
																				student['gender']=='Nam' %}selected{%
																				endif %}>Nam</option>
																			<option value="Nữ" {% if
																				student['gender']=='Nữ' %}selected{%
																				endif %}>Nữ</option>
																		</select>
																	</div>
																</div>
																<!-- Tình trạng kinh tế -->
																<div class="col-md-6">
																	<div class="form-group">
																		<label for="economic_status"
																			class="form-label">Tình trạng kinh
																			tế</label>
																		<select class="form-control"
																			name="economic_status" id="economic_status"
																			required>
																			<option value="" {% if not
																				student['economic_status'] %}selected{%
																				endif %}>Chọn tình trạng</option>
																			<option value="Nghèo" {% if
																				student['economic_status']=='Nghèo'
																				%}selected{% endif %}>Nghèo</option>
																			<option value="Cận nghèo" {% if
																				student['economic_status']=='Cận nghèo'
																				%}selected{% endif %}>Cận nghèo</option>
																			
																			<option value="Bình thường" {% if
																				student['economic_status']=='Bình thường'
																				%}selected{% endif %}>Bình thường
																			</option>
																			<option value="Giàu" {% if
																				student['economic_status']=='Giàu'
																				%}selected{% endif %}>Giàu</option>

														<!-- GPA -->
														<div class="form-group">
															<label for="gpa{{ student['student_id'] }}"
																class="form-label">Điểm trung bình (GPA)</label>
															<input type="number" step="0.01" class="form-control"
																id="gpa{{ student['student_id'] }}" name="gpa"
																value="{{ student['gpa'] }}" required>
														</div>

															</div>
															<!-- Điểm trung bình (GPA) -->
															<div class="form-group">
																<label for="gpa" class="form-label">Điểm trung bình
																	(GPA)</label>
																<input type="number" step="0.01" class="form-control"
																	name="gpa" id="gpa" value="{{ student['gpa'] }}"
																	required>
															</div>

															<!-- Số tín chỉ hoàn thành -->
															<div class="form-group">
																<label for="credits_completed" class="form-label">Số tín
																	chỉ đã hoàn thành</label>
																<input type="number" class="form-control"
																	name="credits_completed" id="credits_completed"
																	value="{{ student['credits_completed'] }}" required>
															</div>

															<!-- Công việc bán thời gian -->
															<div class="form-group">
																<label for="part_time_job" class="form-label">Công việc
																	bán thời gian</label>
																<select class="form-control" name="part_time_job"
																	id="part_time_job" required>
																	<option value="" {% if not student['part_time_job']
																		%}selected{% endif %}>Chọn trạng thái</option>
																	<option value="Có" {% if
																		student['part_time_job']=='Có' %}selected{%
																		endif %}>Có</option>
																	<option value="Không" {% if
																		student['part_time_job']=='Không' %}selected{%
																		endif %}>Không</option>
																</select>
															</div>

															<!-- Tình trạng sức khỏe -->
															<div class="form-group">
																<label for="health_status" class="form-label">Tình trạng
																	sức khỏe</label>
																<select class="form-control" name="health_status"
																	id="health_status" required>
																	<option value="" {% if not student['health_status']
																		%}selected{% endif %}>Chọn tình trạng sức khỏe
																	</option>
																	<option value="Bình thường" {% if
																		student['health_status']=='Bình thường'
																		%}selected{% endif %}>Bình thường</option>
																	<option value="Bị bệnh" {% if
																		student['health_status']=='Bị bệnh' %}selected{%
																		endif %}>Bị bệnh</option>
																	
																</select>
															</div>

															<!-- Nút cập nhật -->
															<div class="d-flex justify-content-end mt-3">
																<button type="submit" class="btn btn-primary">Cập
																	nhật</button>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	</div>

	</div>



	<!-- Add Student Modal -->
	<div class="customize_popup">
		<div class="modal fade" id="addStudentForm" tabindex="-1" aria-labelledby="addStudentModalLabel"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="addStudentModalLabel">Thêm Sinh Viên Mới</h5>
						<button type="button" class="btn" data-bs-dismiss="modal" aria-label="Đóng">
							<i class="fa-solid fa-xmark fa-2xl" style="color: #d70f19;"></i>
						</button>
					</div>
					<div class="modal-body">
						<form action="{{ url_for('create_student') }}" method="POST" id="addStudentForm">
							<!-- Tuổi và Giới tính -->
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="age" class="form-label">Tuổi</label>
										<input type="number" class="form-control" name="age" id="age" required min="18"
											max="30">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="days_absent" class="form-label">Số ngày vắng</label>
										<input type="number" class="form-control" name="days_absent" id="days_absent"
											required>
									</div>
								</div>
							</div>

							<!-- Tình hình kinh tế -->
							<div class="row">
								<div class="col-12">
									<div class="form-group">
										<label for="economic_status" class="form-label">Tình hình kinh tế</label>
										<select class="form-control" name="economic_status" id="economic_status"
											required>
											<option value="">Chọn tình hình kinh tế</option>
											<option value="Nghèo">Nghèo</option>
											<option value="Cận nghèo">Cận nghèo</option>
											<option value="Bình thường">Bình thường</option>
											<option value="Giàu">Giàu</option>
										</select>
									</div>
								</div>
							</div>

							<!-- GPA và Số tín chỉ -->
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="gpa" class="form-label">GPA</label>
										<input type="number" step="0.01" class="form-control" name="gpa" id="gpa"
											required min="0" max="4">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="credits_completed" class="form-label">Số tín chỉ</label>
										<input type="number" class="form-control" name="credits_completed"
											id="credits_completed" required required min="10" max="120">
									</div>
								</div>
							</div>

							<!-- Số ngày vắng và Làm thêm -->
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="gender" class="form-label">Giới tính</label>
										<select class="form-control" name="gender" id="gender" required>
											<option value="">Chọn giới tính</option>
											<option value="Nam">Nam</option>
											<option value="Nữ">Nữ</option>
										</select>
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group">
										<label for="part_time_job" class="form-label">Làm thêm</label>
										<select class="form-control" name="part_time_job" id="part_time_job" required>
											<option value="">Chọn</option>
											<option value="Có">Có</option>
											<option value="Không">Không</option>
										</select>
									</div>
								</div>
							</div>

							<!-- Tình hình sức khỏe -->
							<div class="row">
								<div class="col-12">
									<div class="form-group">
										<label for="health_status" class="form-label">Tình hình sức khỏe</label>
										<select class="form-control" name="health_status" id="health_status" required>
											<option value="">Chọn</option>
											<option value="Bình thường">Bình thường</option>
											<option value="Bị bệnh">Bị bệnh</option>
										</select>
									</div>
								</div>
							</div>

							<!-- Nút Thêm -->
							<div class="row">
								<div class="col-auto">
									<button type="submit" class="btn-add">Thêm sinh viên</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>








</body>


</html>